<div class="Mainbox">
    <h1>Train Booking</h1>
    <form action="/booking" method="post">
        <p>Data of Journey</p>
        <input type="date" id="DOJ" name="date">
        <p>From : <input type="text" id="from_journey" name="from_journey" placeholder="From"></p>
        <p>To : <input type="text" id="to_journey" name="to_journey" placeholder="To"></p>
        <p>Select Train</p>
        <select name="Select Train">
            <option value="----">Select Train</option>
            <option value="aaa">aaa</option>
            <option value="aaa">2</option>
            <option value="aaa">3</option>
            <option value="aaa">45<option>
            <option value="aaa">5</option>
            

        </select>

        <button type="submit"></button>
    </form>
</div>