
<div class="Forgot_pass">
    <h1>Forgot your Password?</h1>
    <form action="/user/forogt-password/sent" method="get">
            <p>Email</p>
            <input type="email" id="Username" placeholder="Enter email.." required>
            
            <input type="submit" id="getpass" name="reset" id="getpass">
            
            
    </form>
</div>