<div class="Forgot_pass">
    
    <div class ="container mt-5">
        <div style="text-align: center;" class=" mt-5 pt-5">
            <p>Reset your password</p>
            <p style="color: green;"">Email has been to your email id: abc@gmail.in </p>
            <a class="btn btn-lg btn-success px-5" href="/user/login">Let's Login</a>
        </div>
        
    </div>     
</div>