<div style="text-align: center" class="container py-5">
    <br>
    <h1>Welcome to IRCTC</h1>
    <h3>Online Rail e-Ticket Booking Platform</h3>
    <br><br>
    <a href="/booking/" class="btn btn-bg btn-primary px-4 ">Book your Triff</a>

</div>

